@import "./global.scss";
@import "./position_manipulator.scss";

//MIXINGS 
@mixin set-flex-container($flex-flow:row, $justify-content:none, $align-items:none) {
  display:flex;
  flex-flow:$flex-flow;
  justify-content:$justify-content;
  align-items:$align-items;
}

//CONTAINERS STYLE
.invisible { display:none; }

.flex-column, .flex-row { display:flex; }

.flex-row { flex-flow:row; }

.flex-column { flex-flow:column; }

.text-align-center {text-align:center;}

.position-relative {position:relative;}

.smaller-margin-bottom { margin-bottom:5px; }
.small-margin-bottom { margin-bottom:10px; }
.margin-bottom { margin-bottom:15px; }
.big-margin-bottom { margin-bottom:20px;}

#page-container {
  @include set-flex-container(row, center, center);
  position:relative;
  width:100%;
  height:100%;
  padding-top:30px;
  padding-bottom:20px;
}

.login-or-singin-container { 
  @include set-flex-container(column);
  width:360px;

  .container {
    background:white;
    padding:20px 40px;
    border:.1px solid $gray-for-container-border;
    margin-bottom:10px;
    border-radius:1px;
    font-size:1.4rem;
  }

  .container:first-child {
    position:relative;

    .instagram-logo {
      @include align-position-to-center(relative, false, true);
      width:175px;
      margin-bottom:30px;
    }
  }

  .container:first-child ~ .container {
    text-align:center;
  }
}

.or-and-line-container {
  @include set-flex-container(row, center, center);
}

.or-and-line-container > span {
  @include set-text(600, #c4c4c4);
  padding:0px 20px;
}

.line {
  border-top:.1px solid #c9c7c7;
  width:50%;
}

.get-the-app-container {
  position:relative;
  margin-top:10px;
  font-size:1.4rem;
}

.store-image {
  width:136px;
  margin-right:8px;
  cursor:pointer;

  &:active {
    opacity:0.8;
  }
}