//COLORS VARIABLE
$main-background-gray:#fafafa;
$gray-for-container-border:#dbdbdb;
$main-blue:#0095f6;
$dark-blue:#385185;

//MIXING OF TEXTS 
@mixin set-text($bold:500, $color:black, $size:1.4rem, $text-align:none) {
  font-weight:$bold;
  color:$color;
  font-size:$size;
  text-align:$text-align;
}

//SOME MAIN TAGS STYLE
* {
  box-sizing:border-box;
  margin:0;
  font-family:arial;
}

html {
  font-size:62.5%;
}

body {
  background:$main-background-gray;
}

/*ICONES AND TEXT STYLE*/
.facebook-icone {
  @include set-text(600, $dark-blue,2rem);
  margin:0px 3px;
}