@import "./global.scss";

//INPUTS STYLES
.default-input {
  background:$main-background-gray;
  outline:none;
  border:.1px solid $gray-for-container-border;
  border-radius:1px;
  width:100%;

  &:focus {
    border:.1px solid gray;
  }
}

.text-up { padding:10px; }
.text-up.input-password { padding:10px 50px 10px 10px; }

.text-down { padding:17px 10px 3px 10px; }
.text-down.input-password { padding:17px 50px 3px 10px; }

.main-button {
  @include set-text(600, white);
  padding:8px;
  background:$main-blue;
  border-radius:3px;
  border:none;
  cursor:pointer;
  outline:none;
  width:100%;

  &:hover { 
    filter:brightness(96%); 
  }

  &:active { 
    filter:brightness(92%);
   }
}

//PLACEHOLDER STYLES
.placeholder {
  position:absolute;
  left:11px;
  transform:translateY(-50%);
  pointer-events:none;
  color:gray;
  transition:top .2s;
}

.position-up {
  top:10px;
  font-size:1rem;
}

.position-down {
  top:50%;
  font-size:1.4rem;
}

//SHOW AND HIDE BUTTON
.show-and-hide {
  @include set-text(600);
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}