@mixin align-position-to-center($position:absolute, $must-align-eixo-y:true,
$must-align-eixo-x:true) {
  position:$position;
  $top:validateIfMustAlign($must-align-eixo-y);//this value will be 50% if true
  $left:validateIfMustAlign($must-align-eixo-x);//this value will be 50% if true
  top:$top;
  left:$left;
  transform:translateY(returnNegative50Porcent($top));
  transform:translateX(returnNegative50Porcent($left));
}

@function validateIfMustAlign($this-eixo-must-be-align:true) {
  $result:null;
  @if $this-eixo-must-be-align {$result:50%;}
  @return $result;
} 

@function returnNegative50Porcent($number:0) {
  $negative50Porcent:null;
  @if $number != null {
    @if $number == 50% {$negative50Porcent:-50%;}
  }
  @return $negative50Porcent;
}