@import "../../global_css/global.scss";
@import "../../global_css/position_manipulator.scss";
@import "../../global_css/containers.scss";
@import "../../global_css/input.scss";

/*container*/
#page-container {
  @include set-flex-container(row, center, center);
  position:relative;
  width:100%;
  height:100%;

  #cellphone-container {

  }

  .main-page-container {
    
    .container {

      .default-input {
        
      }
      
    }
  }
}

#login-with-facebook-container {
  @include set-text(600, $dark-blue, 1.4rem, center);
  margin-top:20px;
  cursor:pointer;

  &:active {
    opacity:0.8;
  }
}

/*text*/
#forgot-password {
  @include set-text(500, $dark-blue, 1.2rem, center);
  margin-top:20px;
  cursor:pointer;

  &:active {
    opacity:0.8;
  }
}

#singup-text {
  font-size:1.4rem;
}

#singup-text::after {
  @include set-text(600, $main-blue);
  content:" Sign up";
  cursor:pointer;
}